@let countryInfo = this.countryCardInfo();
@defer (hydrate on hover) {
<a [routerLink]="['/country', countryInfo.name.common]">
  <div class="card bg-base-100 shadow-xl max-w-80 max-h-96  ">
    <figure>
      <img height="400" width="320" [src]="countryInfo.flags.svg" [alt]="countryInfo.flags.alt" />
    </figure>
    <div class="card-body">
      <h2 class="card-title" data-test="country-name">{{countryInfo.name.official}}</h2>
      <p class="flex gap-1"><span class="font-bold">Population:</span> {{countryInfo.population}} </p>
      <p class="flex gap-1"><span class="font-bold">Region:</span>{{countryInfo.region}}</p>
      <p class="flex gap-1"><span class="font-bold">Capital:</span>{{countryInfo.capital}} </p>
    </div>
  </div>
</a>
}