@let countryDetails = this.query.data()?.[0];
@let errorMessage = this.errorMessage();



<section class="container mx-auto mt-2 sd:px-0 border-*">

  <a class="btn" (click)="goBack()" routerLinkActive="active">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-left">
      <path d="M6 8L2 12L6 16" />
      <path d="M2 12H22" />
    </svg>
    Back
  </a>
</section>




<section class="container mx-auto mt-2 sd:px-0 border-* sm:text-xl">
  <div class="mt-6 mx-auto ">
    <section class="justify-center gap-10 flex flex-col items-center sm:flex-row ">
      @if(countryDetails){
      <img class="sm:w-96" [ngSrc]="countryDetails.flags.svg" width="300" height="300" [alt]="countryDetails.flags.alt"
        priority>
      <div class="mt-8 flex-col sm:flex-row mb-5">
        <h2 class="text-xl font-black  mb-5">{{countryDetails.name.common}}</h2>
        <div class="sm:flex sm:gap-5 ">
          <div class="mb-5 font-semibold">
            <p>Population: <span class="font-light">{{countryDetails.population.toLocaleString()}}</span> </p>
            <p>Region: <span class="font-light">{{countryDetails.region}}</span></p>
            <p>Sub-Region: <span class="font-light">{{countryDetails.subregion}}</span></p>
            <p>Capital:
              <span class="font-light">{{countryDetails.capital.join(", ")}}</span>
            </p>
          </div>

          <div class="font-semibold">
            <p>Top Level Domain: <span class="font-light"></span></p>
            <p>Currencies:
              <span *ngFor="let currencyKey of currencyKeys " class="font-light ml-0.5">{{currencyKey}}</span>
            </p>
            <p>Languages: <span class="font-light">{{languagesEntries}}</span></p>
          </div>
        </div>

        <p class="font-semibold ">Border Countries: </p>
        <ul class="flex flex-wrap max-w-full">
          <li class="textarea-xs whitespace-nowrap px-3 py-1" *ngFor="let country of borderCountries">
            {{country}}</li>
        </ul>
      </div>
      }

      @if(query.isLoading()){
      <span class="loading loading-xl self-center"></span>
      }

      @if(query.isError()){
      <p class="text-red-600 text-lg">Error during fetching, try again later or refresh the page</p>
      }

    </section>
  </div>

</section>

@if (errorMessage) {
<p class="text-lg text-error text-center">{{errorMessage}}</p>
}
